---
const testimonials = [
  
  { name: 'Karthik', message: '@Varshith layout fixed; If they give attendence im in', imageUrl: 'images/sample.png' },
  { name: 'Avaneesh', message: 'If youre into solving probs and building sick stuff, this is where the magic happens!', imageUrl: 'images/sample.png' },
  { name: 'Shashank B N', message: 'Use VIM', imageUrl: 'images/sample.png' },
  { name: 'Satwik Prabhu', message: 'i know where you live', imageUrl: 'images/sample.png' },
  { name: 'wisdom--1', message: 'Fullfill 85% attendance criteria', imageUrl: 'images/sample.png' },
  { name: 'Unknown', message: 'Satwik Prabhu is a cutie', imageUrl: 'images/sample.png' },
  { name: 'Vasudha Bhat', message: 'Association of Computer Engineers (ACE ) is a dedicated organisation for Computer Science department.  Dedicated organisation that helps students to develop both Technical and non-technical skills including Sports. It was always great working with ACE. Thanks for the opportunity', imageUrl: 'images/sample.png' },
  { name: 'Varshith Pawar H R', message: ' y I did this format-visit : https://orm.drizzle.team/', imageUrl: 'images/sample.png' },
  { name: 'akhil', message: 'will never know!!', imageUrl: 'images/sample.png' },
  {
    name: 'Prashasti Pandey',
    message:
      'ACE was an amazing experience at nitte, right from starting the face space to sitting at the budget meetings for our incridea events , from organising Improv to making rangolis for ayudh puja from planning freshers to receiving our farewell, we shared good memories . P.S. youll always be good books of every proff.  Also , plan your events before that one branch implements it ;)m?',
    imageUrl: 'images/sample.png',
  },
  { name: 'Varun pai', message: 'Learn Flutter', imageUrl: 'images/sample.png' },
  { name: 'Ameesha', message: 'Work more on your side projects ', imageUrl: 'images/sample.png' },
  
];
---
<!-- use h-fit to make all cards visible -->
<section class="content-container ">
  <ul class="mx-auto w-fit columns-1 md:columns-2 lg:columns-3 ">
    {
      testimonials.map((testimonial) => (
        <li class="testimonial-card flex flex-col gap-4 p-8 rounded-lg break-inside-avoid mb-4 hover:scale-105 transition-transform ">
          <div class="flex gap-4 items-center">
            <img
              src={testimonial.imageUrl}
              alt={testimonial.name}
              class="w-10 aspect-square rounded-full object-cover object-center"
            />
            <div>
              <p class="capitalize">{testimonial.name}</p>
            </div>
          </div>
          <p class="text-gray-400 ml-2">{testimonial.message}</p>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .testimonial-card {
    background-color: rgba(243, 244, 246, 0);
    max-width: 320px;
    box-shadow: 0 20px 30px -20px rgba(181, 180, 180, 0.426);
  }
  ul{
    transform: translateY(-100px);
  }
</style>
