---
import { testimonials } from '@lib/constants';
import { Image } from 'astro:assets';
---

<h3 class="title-glow font-dirtyline lowercase text-3xl md:text-6xl text-center mb-32">Words from the Wise</h3>
<!-- use h-fit to make all cards visible -->
<section class="content-container h-fit">
  <ul class="mx-auto w-fit columns-1 md:columns-2 lg:columns-3">
    {
      testimonials.map((testimonial) => (
        <li class="testimonial-card flex flex-col gap-4 p-8 rounded-lg break-inside-avoid mb-4 hover:scale-105 transition-transform ease-in-out ">
          <div class="flex gap-4 items-center">
            <Image
              src={testimonial.imageUrl}
              alt={testimonial.name}
              class="w-10 aspect-square rounded-full object-cover object-center"
            />
            <div>
              <p class="capitalize">{testimonial.name}</p>
            </div>
          </div>
          <p class="text-gray-400 ml-2">{testimonial.message}</p>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .testimonial-card {
    background-color: rgba(243, 244, 246, 0);
    max-width: 320px;
    box-shadow: 0 20px 30px -20px rgba(181, 180, 180, 0.426);
  }
  ul {
    transform: translateY(-100px);
  }

  .title-glow {
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
  }

  .title-glow::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 180, 216, 0.4), transparent);
    transform: translate(-50%, -50%) scale(0.8);
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
  }
</style>
