---
import Layout from '@layouts/Layout.astro';
---

<Layout title='ACE'>
  <main class="pt-28 h-[95vh] w-full overflow-hidden flex flex-col gap-4 items-center justify-center text-center">
    <img src="/images/cock.gif" alt="gif_ing" />
    <h3 class="font-dirtyline text-4xl font-bold">404 Error</h3>
    <h3 class="font-dirtyline text-4xl font-bold">Or who knows this page is gone</h3>
    <p>...maybe you are the issue not us !! fix your damn system.</p>
    <p>And we know the gif is bad and we are not gona fix it</p>
    <a href="/" class="border-2 border-blue-500 w-fit px-8 py-4 cursor-pointer rounded-full"> Back to home </a>
  </main>
</Layout>
