---
import Layout from "@layouts/Layout.astro"
import { db } from "@lib/db"
import { eventTable, teamTable, userTable, userTeamTable } from "@lib/db/schema"
import { eq } from "drizzle-orm"

const eventID = Number(Astro.params.slug)
let event,members
if( !isNaN(eventID)) {
  event = await db.select().from(eventTable).where(eq(eventTable.id, eventID))
  members = await db.select({ name: userTable.name })
  .from(eventTable)
  .innerJoin(teamTable, eq(eventTable.id, teamTable.eventId))
  .innerJoin(userTeamTable, eq(teamTable.id, userTeamTable.teamId))
  .innerJoin(userTable, eq(userTeamTable.userId, userTable.id))
  .all();
}


---

<Layout>
  <div class="p-10"></div>
  Name: {event? event[0].name : "No event found"} <br>
  Members: { members?.map(
    (member) => (
      <div class="flex justify-evenly">
        <h2>{member.name}</h2>
      </div>
    )
  )}

</Layout>

