---
import BlogEditor from '@components/BlogEditor.astro';
import Layout from '@layouts/Layout.astro';
import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request);

if (!session?.user) {
  return Astro.redirect('/');
}
---

<Layout title="ACE | Create Blog">
  <main class="content-container mt-20">
    <h3 class="text-3xl font-bold mb-4 text-center">Cook a blog</h3>
    <BlogEditor id="new" />
  </main>
</Layout>

<script>
  import { actions } from 'astro:actions';
  import { navigate } from 'astro:transitions/client';

  const form = document.querySelector('#blog-form') as HTMLFormElement;
  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    const formData = new FormData(e.target as HTMLFormElement);
    const { data, error } = await actions.createBlog(formData);

    console.log(error);

    if (data?.blogId) {
      navigate(`/blogs/${data.blogId}`);
    }
  });
</script>
