---
import Layout from "@layouts/Layout.astro"
import Adminnav from "@components/admin/adminhead.astro"
---

<Layout>
  <Adminnav/>
  <div class="p-10"></div>
  <h1>Welcome to admin</h1>
  <p>1. <a href="admin/manageUsers">Manage Users</a></p>
  <p>2. <a href="admin/uploadToGallery">Upload to gallery</a></p>
  <p>3. <a href="admin/events"></a></p>
</Layout>